<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
  {{ partial "head.html" . }}
  <body>
    <main>
      {{ partial "navigation.html" . }}
      <div class="post">
          <h1>{{ .Title }}</h1>
          {{ if eq .Type "blog" }}
          <span class="post-author">Author: {{ .Params.author }}</span>
          <br />
          <span class="post-date">Date: {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
          <br />
          <span class="reading-time">Reading Time: {{ .ReadingTime }} minutes</span>
          {{ end }}
          {{ .Content }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
