<footer class="primary-footer">
  <div class="primary-footer__container">
    <div class="primary-footer__logo">
      <a href="/">
      <img class="primary-footer__logo-image" src="/images/logo-inverted.svg" />
      <span class="primary-footer__logo-text">MicroMDM</span>
      </a>
    </div>
    <nav class="primary-footer__navigation">
      <ul class="primary-footer__navigation-items">
        <h1 class="primary-footer__navigation-header">Open Source</h1>
        <li class="primary-footer__navigation-item"><a href="https://github.com/micromdm/micromdm/">View the Code on Github</a></li>
      </ul>
      <ul class="primary-footer__navigation-items">
        <h1 class="primary-footer__navigation-header">Resources</h1>
        <li class="primary-footer__navigation-item"><a href="/blog">Blog</a></li>
        <li class="primary-footer__navigation-item"><a href="https://github.com/micromdm/micromdm/wiki">Docs</a></li>
        <li class="primary-footer__navigation-item"><a href="https://github.com/micromdm/micromdm/releases">Releases</a></li>
      </ul>
    </nav>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-111323862-1', 'auto');
  ga('send', 'pageview');
</script>
