<section class="hero">
  <h1 class="hero__title">MicroMDM</h1>
  <h2 class="hero__subtitle">bootstrap your mac deployment</h2>
  <div class="hero__logo">
    <img class="hero__logo-image" src="/images/logo.svg" />
  </div>
  <p class="hero__text">
    MicroMDM is a project which provides an open source <a target="_blank" href="https://developer.apple.com/library/content/documentation/Miscellaneous/Reference/MobileDeviceManagementProtocolRef/3-MDM_Protocol/MDM_Protocol.html">Mobile Device Management</a>
    server for Apple devices. Our goal is to create a performant and extensible
    device management solution for enterprise and education.
  </p>
  <a class="hero__cta" href="https://github.com/micromdm/micromdm/wiki/Quickstart">Get Started with MicroMDM</a>
</section>

<section class="documentation">
  <h1 class="documentation__header">Documentation</h1>
  <ul class="documentation__items">
    <li class="documentation__item">
      <header class="documentation__item-header">
        <h1 class="documentation__item-title">Get started easily</h1>
        <img class="documentation__item-image" src="/images/micromdm-docs.svg" />
      </header>
      <p class="documentation__item-description">
        Read the quickstart tutorial for getting up and running with MicroMDM. The steps in this guide are intended to get you up and running as quickly as possible.
      </p>
      <a class="documentation__item-cta" href="https://github.com/micromdm/micromdm/wiki/Quickstart">View the Quickstart Guide</a>
    </li>
    <li class="documentation__item">
      <header class="documentation__item-header">
        <h1 class="documentation__item-title">Join the Community</h1>
        <img class="documentation__item-image" src="/images/slack-logo.svg" />
      </header>
      <p class="documentation__item-description">
        The best place to get help is the #micromdm channel on the MacAdmins Slack team. Join us there by getting an invitation at the link below.
      </p>
      <a class="documentation__item-cta" href="https://macadmins.herokuapp.com/">Join Us On Slack</a>
    </li>
    <li class="documentation__item">
      <header class="documentation__item-header">
        <h1 class="documentation__item-title">Contribute to MicroMDM</h1>
        <img class="documentation__item-image" src="/images/wiki-logo.svg" />
      </header>
      <p class="documentation__item-description">
        MicroMDM is open source and the core developers are eager to help you make your first Pull Request. Check out the contributing guide for more details.
      </p>
      <a class="documentation__item-cta" href="https://github.com/micromdm/micromdm/blob/master/CONTRIBUTING.md">Read the Contributing Guide</a>
    </li>
  </ul>
</section>

<section class="blog-teaser">
  <h1 class="blog-teaser__header">What's new with MicroMDM?</h1>
  {{ range first 1 .Data.Pages }}
    <article class="blog-post">
      <h1 class="blog-post__title">{{ .Title }}</h1>
      <p class="blog-post__preview">
        {{ .Summary }}
      </p>
      {{ if .Truncated }}
      <div class="blog-post__actions">
        <span class="blog-post__action blog-post__read-more-link">
          <a href="{{ .RelPermalink }}">Read More…</a>
        </span>
        <div class="blog-post__additional-actions">
          <span class="blog-post__action blog-post__view-all-link">
            <a href="/blog">View All Articles</a>
          </span>
          <span class="blog-post__action blog-post__contribute-link">
            <a href="https://github.com/micromdm/website">Contribute An Article</a>
          </span>
        </div>
      </div>
      {{ end }}
    </article>
  {{ end }}
</section>

<section class="do-more">
  <h1 class="do-more__header">Do more with MicroMDM</h1>
  <ul class="do-more__items">
    <li class="do-more__item">
      <header class="do-more__item-header">
        <img class="do-more__item-image" src="/images/api.svg" />
        <h1 class="do-more__item-title">Check out the API</h1>
      </header>
      <p class="do-more__item-description">
        MicroMDM has a robust set of APIs for scheduling commands, reading device data and managing the server itself.
      </p>
      <a class="do-more__item-cta" href="https://github.com/micromdm/micromdm/issues/361">Explore the API</a>
    </li>
    <li class="do-more__item">
      <header class="do-more__item-header">
        <img class="do-more__item-image" src="/images/octocat.svg" />
        <h1 class="do-more__item-title">Review the Code</h1>
      </header>
      <p class="do-more__item-description">
        MicroMDM is free, open source, and permissively licensed! Read the code, contribute features, and offer feedback.
      </p>
      <a class="do-more__item-cta" href="https://github.com/micromdm/micromdm/">View the Source Code</a>
    </li>
    <li class="do-more__item">
      <header class="do-more__item-header">
        <img class="do-more__item-image" src="/images/branch.svg" />
        <h1 class="do-more__item-title">Contribute your ideas</h1>
      </header>
      <p class="do-more__item-description">
        The MicroMDM developers are eager to make a solution that works for everyone. Let us know what you need to use MicroMDM at your organization.
      </p>
      <a class="do-more__item-cta" href="https://github.com/micromdm/micromdm/issues/new">Create a GitHub issue</a>
    </li>
  </ul>

</section>
