<header class="primary-header">
  <div class="primary-header__logo">
    <a href="/"><img class="primary-header__logo-image" src="/images/logo.svg" /></a>
  </div>
  <nav class="primary-nav">
    <ul class="primary-nav__items" >
      <li class="primary-nav__item">
        <a href="/">Home</a>
      </li>
      <li class="primary-nav__item">
        <a href="/blog">Blog</a>
      </li>
      <li class="primary-nav__item">
        <a href="https://github.com/micromdm/micromdm/wiki">Docs</a>
      </li>
      <li class="primary-nav__item">
        <a target="_blank" href="https://github.com/micromdm/micromdm">Code</a>
      </li>
      <li class="primary-nav__item">
        <a target="_blank" href="https://github.com/micromdm/micromdm/releases/latest">Releases</a>
      </li>
    </ul>
  </nav>
</header>
