<div id="sidebar"> 
    <h4>Links</h4>
    <ul>
        <li><a href="/">micromdm.io<a/></li>
        <li><a href="https://github.com/micromdm/micromdm">MicroMDM on GitHub<a/></li>
        <li><a href="https://github.com/micromdm/micromdm/releases/latest">Releases<a/></li>
        <p/>
        <li><a href="https://github.com/micromdm/micromdm/wiki/Quickstart">Getting Started<a/></li>
        <li><a href="https://github.com/micromdm/micromdm/wiki">Documentation<a/></li>
        <li><a href="https://github.com/micromdm/micromdm/issues">Issue Tracker<a/></li>
        <p/>
        <!-- <li><a href="#Community">Community<a/></li> -->
        <li><a href="mailto:hello@micromdm.io">Contact Us<a/></li>
        <p/>
        <li><a href="/blog/"><b>Blog Archive</b><a/></li>
    </ul>
</div>
