@font-face {
  font-family: system;
  font-style: bold;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Ubuntu Bold"), local("Segoe UI Bold"), local("Roboto-Bold"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-weight: 900;
  src: local(".SFNSText-Heavy"), local(".HelveticaNeueDeskInterface-Heavy"), local(".LucidaGrandeUI"), local("Ubuntu Heavy"), local("Segoe UI Heavy"), local("Roboto-Heavy"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Global */
body {
  position: relative;
  font-family: "system", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #202532;
  margin: 0;
}

main {
  min-height: calc(100vh - 308px);
}

a {
  font-weight: bold;
  color: #4a9dff;
  text-decoration: none;
}

p {
  max-width: 700px;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: -0.3px;
}

section {
  min-width: 1280px;
}

/* Navigation */
.primary-header {
  min-width: 1200px;
  margin: 16px auto;
  padding: 0 40px;
  position: relative;
}

.primary-nav {
  font-size: 16px;
  color: #a8b9cd;
  position: absolute;
  right: 40px;
  top: 15px;
}

.primary-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-nav__item {
  display: inline-block;
  margin-left: 50px;
}

.primary-nav__item > a {
  text-decoration: none;
  color: #a8b9cd;
  transition: 0.3s all;
}

.primary-nav__item > a:hover {
  text-decoration: none;
  color: #4a9dff;
}

section p {
  margin: 0 auto;
}

/* Blog List */

.blog-post-list {
  width: 700px;
  margin: 100px auto 0 auto;
  text-align: center;
}

.blog-post-list-box {
  margin: 40px 0;
}

.blog-post-list-box > a {
  font-size: 28px;
}

.blog-post-list-box > .post-date {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}

.post {
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

.post ol,
.post ul {
  font-size: 22px;
  line-height: 1.45;
}

.post img {
  max-width: 700px;
}

/* Hero */

.hero {
  margin-top: 210px;
  position: relative;
  padding-bottom: 180px;
  z-index: 3;
  background: #fff;
}

.hero__title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.9px;
  margin-bottom: 0;
}

.hero__text {
  text-align: center;
  font-size: 22px;
  max-width: 580px;
}

.hero__subtitle {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  font-weight: normal;
}

.hero__logo {
  margin: 60px 0;
  text-align: center;
}

.hero__logo-image {
  width: 204px;
  height: 192px;
}

.hero__cta {
  text-align: center;
  font-size: 24px;
  display: block;
  margin: 65px 0 0 0;
}

.documentation {
  background-color: #f9f9fb;
  padding: 80px 0;
  position: relative;
}

.documentation::before {
  content: '';
  display: block;
  width: 1200px;
  height: 94px;
  filter: blur(36px);
  background: rgba(32, 37, 50, 0.06);
  box-shadow: 0 0 66px 0 rgba(32, 37, 50, 0.06);
  position: relative;
  z-index: 9;
  border-radius: 100%;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -600px;
  z-index: 1;
}

.documentation__header {
  text-align: center;
  margin: 0 0 68px;
  font-size: 42px;
}

.documentation__items {
  list-style: none;
  padding: 48px 20px;
  width: 1200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(32, 37, 50, 0.14);
  margin: 0 auto;
  display: flex;
}

.documentation__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 397px;
  text-align: center;
  vertical-align: top;
  position: relative;
  flex: 1;
}

.documentation__item::after {
  content: '';
  border-radius: 2px;
  background-color: rgba(74, 157, 255, 0.1);
  width: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.documentation__item:last-child:after {
  display: none;
}

.documentation__item-header {
  height: 200px;
}

.documentation__item-image {
  height: 140px;
}

.documentation__item-title {
  margin: 0 0 25px;
  font-size: 24px;
}

.documentation__item-description {
  font-size: 18px;
	line-height: 1.67;
	text-align: center;
  width: 300px;
  margin-bottom: 50px;
}

.documentation__item-cta {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Blog Teaser */
.blog-teaser {
  padding: 40px 0 128px;
  margin-top: 48px;
  z-index: 3;
  position: relative;
  background: #fff;
}

.blog-teaser__header {
  font-size: 42px;
  text-align: center;
}

.blog-teaser__header::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 23px;
  width: 600px;
  height: 2px;
  background-color: rgba(74, 157, 255, 0.1);
}

.blog-post {
  width: 640px;
  margin: 0 auto;
}

.blog-post__title {
  font-weight: normal;
  font-size: 32px;
}

.blog-post__preview {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.44;
}

.blog-post__actions {
  position: relative;
  margin-top: 13px;
  font-size: 18px;
  letter-spacing: -0.2px;
  height: 48px;
}

.blog-post__additional-actions {
  position: absolute;
  top: 0;
  right: -20px;
}

.blog-post__read-more-link {
  position: absolute;
  bottom: 0;

}

.blog-post__view-all-link {
  display: inline-block;
  margin-right: 20px;
}

.blog-post__view-all-link::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 15px;
  left: 10px;
  width: 2px;
  height: 44px;
  background-color: rgba(74, 157, 255, 0.2);
}

.do-more {
  background-color: #f9f9fb;
  padding: 80px 0;
  position: relative;
}

.do-more::before {
  content: '';
  display: block;
  width: 1200px;
  height: 94px;
  filter: blur(36px);
  background: rgba(32, 37, 50, 0.06);
  box-shadow: 0 0 66px 0 rgba(32, 37, 50, 0.06);
  position: relative;
  z-index: 9;
  border-radius: 100%;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -600px;
  z-index: 1;
}

.do-more__header {
  text-align: center;
  font-size: 42px;
  margin: 0 0 50px;
}

.do-more__items {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.do-more__item {
  flex: 1;
  margin: 0;
  padding: 0;
  position: relative;
}

.do-more__item:nth-child(2n) {
  margin: 0 50px;
}


.do-more__item-description {
  font-size: 16px;
	line-height: 1.88;
  margin-bottom: 70px;
}

.do-more__item-header {
  text-align: center;
}

.do-more__item-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #4a9dff;
  color: #fff;
  height: 40px;
  font-weight: 400;
  border-radius: 3px;
  line-height: 40px;
  font-size: 16px;
}

/* Footer */
.primary-footer {
  height: 243px;
  background: #4a9dff;
  color: #fff;
  padding-top: 65px;
  min-width: 1280px;
}

.primary-footer__container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.primary-footer__logo {
  position: absolute;
  top: 0;
}

.primary-footer__logo-text {
  vertical-align: top;
  font-weight: normal;
  position: relative;
  top: 15px;
  left: 7px;
}


.primary-footer__navigation {
  position: absolute;
  right: 0;
  top: 0;
}

.primary-footer__navigation-items {
  list-style: none;
  display: inline-block;
  width: 200px;
  margin: 0 0 0 116px;
  padding: 0;
  vertical-align: top;
  font-size: 16px;
}

.primary-footer__navigation-header {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
}


.primary-footer__navigation-item {
  height: 30px;
}

.primary-footer a {
  font-weight: normal;
  color: #fff;
}
